<div ng-repeat="(articles_key, articles) in catClustArticles" flex>
	<h2>{{ categories[articles_key].name }}</h2>
	<div class="row">
		<div class="col-md-4" ng-repeat="articleCluster in articles">
			<ul rn-carousel rn-carousel-controls>
				<li ng-repeat="oArticle in articleCluster.articles">

					<div class="card-content-text">
						<img ng-if="oArticle.img_url"
							 ng-src="http://api.deino.clevercode.lv/api/image?path={{ oArticle.img_url }}"
							 style="width:100%" alt=""/>

						<h3 class="title">
							<a ng-href="{{ oArticle.url }}" target="_blank">
								{{oArticle.title}}
							</a>
						</h3>

						<p class="source_date" layout="row">
							<span class="source" flex>{{oArticle.source}}</span>
							<span class="date" flex>{{formatDate(oArticle.date)}}</span>
						</p>

						<p class="description">
							{{oArticle.description}}
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>