<h2>{{ categories[cluster.category_id].name }}</h2>
<div class="row" ng-repeat="clusters in chunks">
	<div class="col-md-4" ng-repeat="cluster in clusters">
		<ul rn-carousel rn-carousel-controls>
			<li ng-repeat="article in cluster.articles">
				<div class="card-content-text">
					<img ng-if="article.img_url"
						 ng-src="http://api.deino.clevercode.lv/api/image?path={{ article.img_url }}"
						 style="width:100%" alt=""/>

					<h3 class="title">
						<a ng-href="{{ article.url }}" target="_blank">
							{{article.title}}
						</a>
					</h3>

					<p class="source_date" layout="row">
						<span class="source" flex>{{ article.source }} ({{ categories[cluster.category_id].name }})</span>
						<span class="date" flex>{{ formatDate(article.date) }}</span>
					</p>

					<p class="description">
						{{article.description}}
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>