.app-content {
    justify-content: center;
    /* width: 100%; */
}
md-card {
    /* padding: 3px;*/
}

.card-content {
    padding: 0px;
    /* height: 100%; */
}

.md-card-image{
/*     width: 100%; */
}
.hidden {
    visibility: hidden;
}
.card {
    /* width: 264px; */
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
}
.card-content-text {
    padding: 0px 12px;
}

.title {
    -webkit-margin-before: 0px; 
   -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
    margin: 0px;
    /* text-decoration: none; */
/*     color: #212121; */
    margin-top: 10px;
}

p {
    -webkit-margin: 0px;
    margin: 5px 0px;
}
a {
    text-decoration: none;
/*     color: #000000; */
}
.source {
    font-size: 0.8em;
    /* color: grey; */
    margin-left: 6px;
    text-transform: uppercase;
}
.date{
    font-size: 0.8em;
    color: grey;  
    text-align: right;
}
.description {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: justify;
  margin-bottom: 14px;
}
.alt .title {
  font-size: 0.9em;
  /* font-weight: 400; */
}
.alt .source {
  font-size: 0.6em;
}
.source_date{
  margin-top: 0px;
}
md-icon.md-default-theme {
  color: white;
  height: 36px;
  width: 36px;
}
md-checkbox .md-container {
  float: right;
}
.md-toolbar-tools h2 {
  font-size: 1.2em;
}
md-card {
  margin: 0px;

  height: 100%;
  /* display: inline-block; */
}

 ul[rn-carousel] {
  /* width: 100%; */
  height: 640px;
  margin: 0 auto;
  /* display: inline-block; */
}
[layout=column]{
  width: 100%;
}
.ul-container {
  width: 16.66%;
}
[adaptive-background] {
  height: 100%;
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  .ul-container {
    width: 100%;
  }  
}