.app-content {
    justify-content: center;
}

.card-content {
    padding: 0px;
}

.hidden {
    visibility: hidden;
}

.card-content-text {
    padding: 0px 12px;
}

.title {
    -webkit-margin-before: 0px; 
   -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
    margin: 0px;
    margin-top: 10px;
}

p {
    -webkit-margin: 0px;
    margin: 5px 0px;
}

a {
    text-decoration: none;
}

.source {
    font-size: 0.8em;
    /* color: grey; */
    margin-left: 6px;
    text-transform: uppercase;
}

.date{
    font-size: 0.8em;
    color: grey;  
    text-align: right;
}

.description {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: justify;
  margin-bottom: 14px;
}

.alt .title {
  font-size: 0.9em;
}

.alt .source {
  font-size: 0.6em;
}

.source_date{
  margin-top: 0px;
}

md-icon.md-default-theme {
  color: white;
  height: 36px;
  width: 36px;
}

.md-toolbar-tools h2 {
  font-size: 1.2em;
}

md-card {
  margin: 0px;
  height: 100%;
}

ul[rn-carousel] {
  height: 640px;
  margin: 0 auto;
}

[layout=column]{
  width: 100%;
}

[adaptive-background] {
  height: 100%;
}

md-sidenav md-radio-button {
	margin:8px;
}

md-sidenav md-input-container {
	padding-bottom: 5px;
}