.app-content {
    justify-content: center;
    padding-left: 15px;
    min-height: 1000px;
}

.card-content {
    padding: 0px;
}

.hidden {
    visibility: hidden;
}

.card-content-text {
    padding: 0px 12px;
}

.title {
    -webkit-margin-before: 0px; 
   -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
    margin: 0px;
    margin-top: 10px;
}

p {
    -webkit-margin: 0px;
    margin: 5px 0px;
}

a {
    text-decoration: none;
}

.source {
    font-size: 0.8em;
    /* color: grey; */
    margin-left: 6px;
    text-transform: uppercase;
}

.date{
    font-size: 0.8em;
    color: grey;  
    text-align: right;
}

.description {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: justify;
  margin-bottom: 14px;
}

.alt .title {
  font-size: 0.9em;
}

.alt .source {
  font-size: 0.6em;
}

.source_date{
  margin-top: 0px;
}

md-icon.md-default-theme {
  color: white;
  height: 36px;
  width: 36px;
}

.md-toolbar-tools h2 {
  font-size: 1.2em;
}

md-card {
  margin: 0px;
  height: 100%;
}

ul[rn-carousel] {
  margin: 0 auto;
}

[layout=column]{
  width: 100%;
}

[adaptive-background] {
  height: 100%;
}

md-sidenav md-radio-button {
	margin:8px;
}

md-sidenav md-input-container {
	padding-bottom: 5px;
}

ul[rn-carousel] > li {
	position: relative;
	margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
	margin-left: 0;
}

.rn-carousel-control {
	color: #FFF;
	font-weight: bolder;
	font-size: 60px;
    opacity: 1;
	top:0px;
	top: -14px;
	outline-width: 0px;
}

.rn-carousel-control .left {
	left: 18px;
}
.rn-carousel-control.rn-carousel-control-next:before {
    position: absolute;
    font-family: FontAwesome;
    left: -0.2em;
    font-size: 0.8em;
    content: "\f138";
    background-color: #607D8B;
    padding: 1px;
    border-radius: 100px;
    line-height: 0.6em;
}
.rn-carousel-control.rn-carousel-control-prev:before{
    position: absolute;
    font-family: FontAwesome;
    left: -0.2em;
    font-size: 0.8em;
    content: "\f137";
    background-color: #607D8B;
    padding: 1px;
    border-radius: 100px;
    line-height: 0.6em;
}

.rn-carousel-control.rn-carousel-control-prev:hover::before,.rn-carousel-control.rn-carousel-control-next:hover::before{
    color: #607D8B;
    background-color: #fff;
}

.rn-carousel-control.rn-carousel-control-next{
    margin-top:30%;
    right: 0.9em;
}
.rn-carousel-control.rn-carousel-control-prev{
    margin-top:30%;
    left: 0.4em;
}

h1, h2, h3 {
	outline-width: 0px;
}

md-toolbar .header-search {
	margin-top: 23px;
	width: 160px;
}

md-toolbar .header-search input.md-input {
	border-bottom-width: 2px;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	border-color: white;
	padding-right: 3px;
	padding-left: 3px;
}

::-webkit-scrollbar
{
    width: 0.5em;  /* for vertical scrollbars */
    height: 0.5em; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.3);
}
.ng-cloak{
    display:none;
}

.article_img {
	max-width: 100%;
}