<!doctype html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title>Deino</title>
		<link rel="stylesheet" href="resources/angular-material/angular-material.css"/>
		<link href="resources/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css"/>
		<!--  <link rel="stylesheet" href="resources/angular-material/theme/blue-theme.css"/> -->
		<link rel="stylesheet" href="resources/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="resources/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family-RobotoDraft:400,500,700,400italic"/> -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>

	</head>
	<body ng-app="deino" ng-controller="BaseController" layout="row" layout-align="top center">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="!isMobile()">
			<md-toolbar class="md-theme-indigo">
			</md-toolbar>
			<md-content layout-padding>

				<section>
					<md-subheader class="md-primary">Meklēt</md-subheader>
					<div layout="column" layout-padding>
						<md-input-container>
							<label>Meklēt rakstus</label>
							<input ng-model="searchQuery"
								   ng-model-options="{ debounce: 2000 }"
								   type="text"
								/>
						</md-input-container>

						<div layout-padding>Periods</div>

						<md-radio-group ng-model="searchPeriod" class="md-primary">
							<md-radio-button value="all">viss</md-radio-button>
							<md-radio-button value="day">diena</md-radio-button>
							<md-radio-button value="week">nedēļa</md-radio-button>
							<md-radio-button value="month">mēnesis</md-radio-button>
						</md-radio-group>

						<div layout-padding>Avots</div>

						<md-checkbox ng-checked="source.checked"
									 ng-click="source.checked = !source.checked"
									 ng-repeat="source in sources"
									 class="md-primary">
							{{ source.name }}
						</md-checkbox>
					</div>
				</section>

				<section>
					<md-subheader class="md-primary">Kategorijas</md-subheader>

					<div layout="column" layout-padding>
						<md-checkbox ng-repeat="category in categories"
									 ng-checked="category.checked"
									 ng-click="category.checked = !category.checked"
									 class="md-primary">
							{{ category.name }}
						</md-checkbox>
					</div>
				</section>

			</md-content>
		</md-sidenav>

		<div layout="column">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 ng-click="gotoStart()">Deino</h2>
					<span flex></span>
					<md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
						<md-icon md-svg-icon="img/ic_menu_48px.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<div class="app-content">
					<div ng-view class="ul-container" layout-sm="column" layot="row" layout-gt-md="column" layout-wrap></div>
				</div>
			</md-content>
		</div>
		<script src="resources/jquery/dist/jquery.min.js"></script>
		<script src="resources/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="resources/angular/angular.js"></script>
		<script src="resources/angular-aria/angular-aria.js"></script>
		<script src="resources/angular-animate/angular-animate.js"></script>
		<script src="resources/hammerjs/hammer.js"></script>
		<script src="resources/angular-material/angular-material.js"></script>
		<script src="resources/moment/moment.js"></script>
		<script src="resources/underscore/underscore-min.js"></script>
		<script src="resources/angular-route/angular-route.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>  -->
		<!-- <script src="resources/jquery.adaptive-backgrounds/src/jquery.adaptive-backgrounds.js"></script> -->
		<!-- <script src="resources/pleasejs/src/Please.js"></script> -->
		<script src="resources/tinycolor/tinycolor.js"></script>
		<script src="aproject/angular-adaptive-backgrounds.js"></script>
		<script src="resources/angular-touch/angular-touch.js"></script>
		<script src="resources/angular-carousel/dist/angular-carousel.js"></script>

		<!-- angular app -->
		<script src="aproject/app.js"></script>
		<script src="aproject/config.js"></script>
		<script src="aproject/route.js"></script>
		<script src="aproject/controllers/base.js"></script>
		<script src="aproject/controllers/article.js"></script>
		<script src="aproject/controllers/category.js"></script>
		<script src="aproject/controllers/query.js"></script>
	</body>
</html>